<%- include ../layouts/cabecera.ejs %> 
<form method="post" action="/autores">
    <div class="form-group">
        <label for="my-input">Nombre(s)</label>
        <input id="my-input" class="form-control" type="text" name="nombres" required>
    </div>
    <div class="form-group">
        <label for="my-input">Apellidos</label>
        <input id="my-input" class="form-control" type="text" name="apellidos" required>
    </div>
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>
<%- include ../layouts/pie.ejs %> 